<!DOCTYPE html>
<html lang="en">

<head>
  <title>11b project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <h2>Vilnius butu nuomos kaina</h2>
    <form action="http://localhost:5000/form" method="POST">
      <div class="form-group">
        <label for="exampleFormControlInput1">Metai</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" name="Metai" value= {{Metai}}>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Plotas</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" name="Plotas" value= {{Plotas}}>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Kambarių sk</label>
        <select class="form-control" id="exampleFormControlSelect1" name="Kambariu sk" value= {{KambariuSk}}>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Aukštas</label>
        <select class="form-control" id="exampleFormControlSelect1" name="Aukstas" value= {{Aukstas}}>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Pastato tipas</label>
        <select class="form-control" id="exampleFormControlSelect1" name="Pastato tipas">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Renovacijos metai</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" name="Renovacijos metai" value= {{RenovacijosMetai}}>
      </div>
      <div class="form-group">
        <div>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
    The value is: {{ RentPrediction }}
  </div>

</body>

</html>